@charset "utf-8";

.sitemapSection .sitemapPage {
    background:#333;
    padding:200px 0;
    position: relative;
}
.sitemapSection .sitemapPage h2 {
    font-size:35px; color:#fff;
    position: absolute; bottom:65px
}

.sitemapBox { padding-top:100px; }

.sitemapBox .sitemapBd > div { float:left; width:24.5%;
    margin:0 2px;
    text-align:center;
}
.sitemapBox .sitemapBd .siteTit {
    font-size:22px;
    border-bottom:2px solid #ddd;
    padding:15px 0; 
}
.sitemapBox .sitemapBd .siteList { font-size:15px; margin-top:10px }
.sitemapBox .sitemapBd .siteList ul li a {
    display:inline-block;
    padding:15px 0;
}
.sitemapBox .sitemapBd .siteList ul li:hover a {
    color:#ddd
}
.sitemapBox .sitemapBtn {
    text-align:center;
    margin-top:100px;
    margin-bottom:30px
}
.sitemapBox .sitemapBtn button{
    width:15%;
    padding:15px 0px;
    background:none;
    border-radius:5px
}
.sitemapBox .sitemapBtn button:hover {color:#ddd}


@media screen and (max-width:767px){
    .sitemapSection .sitemapPage {
        background:#333;
        padding:170px 20px;
        position: relative;
    }
    .sitemapBox { padding-top:65px;}
    .sitemapSection .sitemapPage h2 {
        font-size:35px; color:#fff;
        position: absolute; bottom:65px
    }
    .sitemapBox .sitemapBd > div { float:left; width:49%;
        margin-bottom:10px;
        text-align:center;
    }

    .sitemapBox .sitemapBtn {
        text-align:center;
        margin-top:35px;
        margin-bottom:40px
    }
    .sitemapBox .sitemapBtn button{
        display:block;
        width:50%;
        margin:0 auto;
        padding:10px 0px;
        background:none;
        border-radius:5px
    }
}
@media screen and (max-width:320px){
    .sitemapSection .sitemapPage {
        background:#333;
        padding:150px 20px;
        position: relative;
    }
    .sitemapSection .sitemapPage h2 {
        font-size:28px; color:#fff;
        position: absolute; bottom:65px
    }
    .sitemapBox .sitemapBd > div { float:left; width:48%;
        margin-bottom:10px;
        text-align:center;
    }
    .sitemapBox .sitemapBd .siteTit {
        font-size:19px;
        border-bottom:2px solid #ddd;
        padding:15px 0; 
    }
    .sitemapBox .sitemapBd .siteList { font-size:14px; margin-top:10px }
}